@import "~font-awesome/css/font-awesome.css";
@import "~bulma/css/bulma.css";
body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #98AAC4;
  background-image: linear-gradient(45deg, rgba(0, 1, 127, 0.9), rgba(28, 175, 201, 0.9) 98%);
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.root-container {
  color: white;
  margin-left: 30px !important;
}

.center {
  text-align: center;
}

.main-title {
  margin-top: 30px;
}

.main-pad {
  font-size: 20px;
  width: 70vw;
  height: 50vh;
}

.suggestion-container {
  margin-top: 100px;
  margin-left: 20px;
  width: 25vw;
  height: 50vh;
  text-align: center;
}

.instruction-container {
  /* position: absolute; */
  margin-top: 25px;
  border: 1px solid black;
  padding-top: 5px;
  padding-left: 20px;
  text-align: left;
}

.suggestion-title {
  color: black;
  text-align: center;
  margin-bottom: 0px !important;
}

.suggestion-selected {
  border: 2px solid black;
  background-color: rgba(10, 25, 68, 0.9)
}

.instructions {
  color: black;
  font-size: 16px;
  margin-bottom: 10px;
}